<div class="spinner" *ngIf="isLoading"><app-spinner></app-spinner></div>
<div class="detailForm" *ngIf="!isLoading">
 
  <div class =" ">
    <div  *ngIf="isLoading" style="margin-top: 10%;"><app-spinner></app-spinner></div>
        <form class = " "  [formGroup]="updateCenter"  *ngIf="!isLoading" autocomplete="off" (ngSubmit)="submitChanges()">
          <div class="title">
            <p>Center Information :</p>
          </div>
        <div class="rows row"> 
            <div class="block col-md-4">
          <label>
           Center Name :
           </label>
           <div>
              <input formControlName="centerName" class="form-control " 
              >
          </div>
          <div class="error" *ngIf="updateCenter.get('centerName')?.touched && !updateCenter.get('centerName')?.valid">Invalid entry !</div> 
           </div> 
           <div  class="block col-md-4">  
             <label>Status :</label>

             <mat-slide-toggle [(ngModel)]="status" formControlName="status">
               <p >{{status?"Open":"Closed"}}</p>
            
             </mat-slide-toggle>
          
            </div>
          </div>
          <div  class="block row ">  
            <label>Description :</label>
            <div class="inputContainer col-md-12"> 
            
            <textarea  formControlName="description" class="form-control" type="text" ></textarea>
           </div>
           <div class="error" *ngIf="updateCenter.get('description')?.touched && !updateCenter.get('description')?.valid">Invalid entry !</div>
           </div>
        
           <div class="title">
            <p>Center Location :</p>
          </div> 
              <div class="row">
              <div  class="block  col-md-4">  
                <label>Address :</label>
                <div class="inputContainer" > 
                
                <input formControlName='address' class="form-control" type="text"  >
               </div>
               <div class="error" *ngIf="updateCenter.get('address')?.touched && !updateCenter.get('address')?.valid" > Invalid entry !</div>
               </div>
              
               <div  class="block  col-md-4">  
                <label>City :</label>
                <div class="inputContainer"> 
                  <select class="form-select" formControlName='city'>
                    
                    <option *ngFor="let city of cities" value={{city.value}} >{{city.viewValue}}</option>
                  
                  </select>
               </div>
               <div class="error"  *ngIf="updateCenter.get('city')?.touched && !updateCenter.get('city')?.valid">Invalid entry !</div>
               </div>
               </div>
<!--<div class="row">
               <div  class="block  col-md-4">  
                <label>Coordinates (long) :</label>
                <div class="inputContainer"> 
                
                <input  class="form-control" type="text" formControlName='long' >
               </div>
               <div class="error"  *ngIf="updateCenter.get('long')?.touched && !updateCenter.get('long')?.valid">Invalid entry !</div>
               </div>
              <div  class=" block col-md-4">  
                <label>Coordinates (lat) :</label>
                <div class="inputContainer"> 
                
                <input  formControlName='lat' class="form-control" type="text" >
               </div>
               <div class="error" *ngIf="updateCenter.get('lat')?.touched && !updateCenter.get('lat')?.valid">Invalid entry !</div>
               </div>
               </div>-->
 <!-- <div class="title">
                <p>Credentials :</p>
              </div> 
                  <div class="row">
                  <div  class="block  col-md-4">  
                    <label>Email :</label>
                    <div class="inputContainer"> 
                    
                    <input  class="form-control" type="text" formControlName='email' >
                   </div>
                   <div class="error" *ngIf="updateCenter.get('email')?.touched && !updateCenter.get('email')?.valid">Invalid entry !</div>
                   </div>
                  
                   <div class="row">
                    <div  class="block  col-md-4">  
                     <label>Password :</label>
                     <div class="inputContainer"> 
                     
                     <input  formControlName='password' class="form-control"  >
                    </div>
                    <div class="error" *ngIf="updateCenter.get('password')?.touched && !updateCenter.get('password')?.valid">Invalid entry !</div>
                    </div>
                    <div  class=" block col-md-4">  
                     <label>Confirm Password :</label>
                     <div class="inputContainer"> 
                     
                     <input formControlName='confirm'  class="form-control" >
                    </div>
                    <div class="error" *ngIf="updateCenter.get('confirm')?.touched && !updateCenter.get('confirm')?.valid">Invalid entry !</div>
                    </div>
                    </div>-->
                   
             <button type="submit" class="btn btn-primary" >  Update Information</button>
            
        </form>
        
    </div>
</div>