<div class="reviews">
    <div class="spinner" *ngIf="isLoading" style="margin-top: 10%;"><app-spinner></app-spinner></div>
    <div *ngIf="isEmpty" class="empty">
        <img src="../../../assets/campfire.png">
        <p> No reviews for your center Yet</p>
    </div>
<div *ngIf="!isEmpty">
    <div class="container"  *ngFor="let review of reviews" >
        <div class="user">
        <img class="rounded-circle"  [src]="review.img">
        <div class="content">
            <p class="label">{{review.name}}</p>
            <div class="date"><i class="fa fa-calendar"></i><p> {{review.date}}</p></div>
        
            <ngb-rating [rate]="review.rating"></ngb-rating>
            <div>
               
                <p class= "review"> <i class="fa fa-quote-left"></i>{{review.content}} <i class="fa fa-quote-right" style="padding-left:2%"></i></p>
              
            </div>
        </div>
       
        </div>
       
    </div>
</div>
</div>