<div class ="container">
    <form class = " formContainer" >
        <img src="../assets/wanderer.png" alt="">
        <div  class="block">  
            <label>New Password :</label>
            <div class="inputContainer"> 
             <i class="fa fa-key"></i>  
         <input class="form-control" type="password">
     </div>
     </div>
     <div  class="block">  
        <label>Confirm Password :</label>
        <div class="inputContainer"> 
         <i class="fa fa-check"></i>  
     <input class="form-control" type="password">
 </div>
 </div>
        <button type="submit" class="btn btn-primary">Confirm Password</button>
    </form>
</div>