<div class="background">
    <div class ="container">
        <div  *ngIf="isLoading" style="margin-top: 10%;"><app-spinner></app-spinner></div>
        <form class = " formContainer"  #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
            <img src="../assets/wanderer.png" alt="">
            <div  class="block">  
                <label>New Password :</label>
                <div class="inputContainer"> 
                 <i class="fa fa-key"></i>  
                 <input   class="form-control" type="password" ngModel name="password" required minlength=8 [ngClass]='state[0]'>
                 <div class="error">{{ errorPass}}</div> 
         </div>
         </div>
         <div  class="block">  
            <label>Confirm Password :</label>
            <div class="inputContainer"> 
             <i class="fa fa-check"></i>  
             <input   class="form-control" type="password" ngModel name="confirm" required minlength=8 [ngClass]='state[1]'>
             <div class="error">{{ errorConfirm}}</div> 
     </div>
     </div>
            <button type="submit" class="btn btn-primary">Confirm </button>
        </form>
    </div>
</div>
