<div class="container">
    <div class="reservation">
       <div class="ro">
        <div class="ro">
            <p class="label">Reservation Data :</p>
         <p> 21/21/2121</p>
         </div>
        
       <div class="ro">
          <p class="label">Number of people :</p>
        <p> 6</p>
        </div>
       <div class="ro duration">
        <p class="label">Number of days :</p>
     <p> 3</p>
    
    </div>
    </div>

    <div class="participant">
        <p class="label">Participants :</p>
      <div class="list">
        <div class="user">
            <img class="rounded-circle" src="https://1.bp.blogspot.com/-ltOzGaxakwM/XqIc_Zik7EI/AAAAAAAAATg/kTJNUqS8Rs0NoABNeq_tlFq6vaKUIGOnQCLcBGAsYHQ/s1600/irelia.png" >
            <p class="name">Ajlani MARYEM</p>
        </div>
        <div class="user">
            <img class="rounded-circle" src="https://1.bp.blogspot.com/-ltOzGaxakwM/XqIc_Zik7EI/AAAAAAAAATg/kTJNUqS8Rs0NoABNeq_tlFq6vaKUIGOnQCLcBGAsYHQ/s1600/irelia.png" >
            <p class="name">Caramel crimel</p>
        </div>

        
      </div>
      <div class="ro">
          <div class="row3">
            <i class="fa fa-child"></i>
            <p class="label">Children : </p>
            <p> 6</p>
          </div>
          <div class="row3">
            <i class="fa fa-user"></i>
            <p class="label">Undefined :</p>
            <p>2</p>
          </div>
      </div>
  
    </div>
    <div >
        <p class="label">Reserved Options :</p>
        <div class="ro2">
            <div class="option">
                <p>1 large Tent 100Dt</p>
            </div>
            <div class="option">
                <p>1 large Tent 100Dt</p>
            </div>
             <div class="option">
                <p>1 large Tent 100Dt</p>
            </div>
        </div>
        z
    </div>
</div>
</div>
