<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        

        <ul class="list-unstyled nav navbar-nav ">
          
            <li  class="active">
                <a routerLink="details">Center Details</a>
            </li>
            <li> 
                    <a routerLink="reservations">Reservation Requests</a>
            </li>
            <li>
                <a routerLink="prices">Prices</a>
            </li>
            <li >
                <a routerLink="reviews" class="active">Reviews</a>
            </li>
         
        </ul>

    </nav>
  
  
</div>
<div class="content">  <router-outlet></router-outlet></div>