<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
           <img src="../../../../assets/test.jpg" class="rounded-circle">
        </div>

        <ul class="list-unstyled components">
            <p>Center Name</p>
            <li >
                <a routerLink="centerDetails">Center Details</a>
            </li>
            <li>
                <div  class="row">
                    <i class="fa fa-money-check-edit-alt"></i>
                    <a routerLink="reservations">Reservation Requests</a>
                </div>
            </li>
            <li>
                <a routerLink="prices">Prices</a>
            </li>
        </ul>

        <div class="row"> 
            <i class="fa fa-sign-out-alt"></i>
            <a href="#pageSubmenu" >Log Out</a> 
        </div>
    </nav>


    <!-- Page Content  -->
    <div id="content">
        <button class="btn btn-primary">
            <i class="fa fa-money-check-edit-alt"></i>
            toggle</button>
        <router-outlet></router-outlet>
    </div>
</div>