
<mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
   <p id="name">{{item.label}}</p> <p>{{item.description}}</p>
     <p>{{item.price}} DT</p>
      </mat-panel-title>
      <mat-panel-description>
       <div class="icon"><i class="fa fa-pencil fa-2x"></i>
        <i class="fa fa-trash fa-2x" (click)="deleteItem(item.id)"></i> </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form [formGroup]="updatePrice" class = " formContainer" (ngSubmit)="onSubmit()" autocomplete="off">
     <div class="block">
      <label>
        <i class="fa fa-tags"></i> Product Name :
       </label>
       <div>
          <input formControlName="label" type="text"
        
          >
      </div>
      <div class="error" *ngIf="updatePrice.get('label')?.touched && !updatePrice.get('label')?.valid">Invalid Entry !</div> 
       </div> 
       <div class="block">
        <label>
          <i class="fa fa-align-left"></i>Product Description :
         </label>
         <div>
            <input type="text" formControlName="description"
          
            >
        </div>
        <div class="error" *ngIf="updatePrice.get('description')?.touched && !updatePrice.get('description')?.valid">Invalid Entry !</div> 
         </div> 
         <div class="block">
          <label>
            <i class="fa fa-money"></i>    Product Price :
           </label>
           <div>
              <input type="text" formControlName="price"
              >
          </div>
          <div class="error" *ngIf="updatePrice.get('price')?.touched && !updatePrice.get('price')?.valid">Invalid Entry</div> 
           </div>  
             <div class="block">
          <label>
            <i class="fa fa-stack-overflow"></i> In Stock :
           </label>
           <div>
              <input type="text" formControlName="stock"
              >
          </div>
          <div class="error"  *ngIf="updatePrice.get('stock')?.touched && !updatePrice.get('stock')?.valid">Invalid Entry</div> 
           </div> 
           <div class="block">
            <label>
                <i class="fa fa-check-double"></i> Reserved:
             </label>
             <div>
                <input type="text" formControlName="reserved"
                >
            </div>
            <div class="error"  *ngIf="updatePrice.get('reserved')?.touched && !updatePrice.get('reserved')?.valid">Invalid Entry !</div> 
             </div> 
    <mat-action-row>
      <button mat-button class="btn btn-primary">Update</button>
    </mat-action-row>
  </form>

  </mat-expansion-panel>